.contact_a {
  padding-bottom: 80px;
}

.contact_a .title {
  text-align: center;
  font-size: 24px;
  color: #333333;
  font-weight: bold;
  padding: 60px 0 30px;
}

.contact_a .st {
  width: 788px;
  margin: 0 auto;
  font-size: 16px;
  color: #666666;
  line-height: 28px;
  margin-bottom: 74px;
  text-align: center;
}

.contact_a .lx-box .box {
  width: 25%;
  float: left;
  text-align: center;
}

.contact_a .lx-box .box .icon {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 0 auto 20px;
  overflow: hidden;
}

.contact_a .lx-box .box .icon .icon-group {
  width: 100%;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
  position: relative;
  z-index: 10;
}

.contact_a .lx-box .box .icon .icon-group img {
  display: block;
  width: 100%;
}

.contact_a .lx-box .box .icon::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: solid 1px #dddddd;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.contact_a .lx-box .box .icon::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  background: #1e76cf;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.contact_a .lx-box .box .text-box .tl {
  font-size: 18px;
  color: #333;
  margin-bottom: 14px;
}

.contact_a .lx-box .box .text-box .te {
  color: #999999;
  font-size: 14px;
}

.contact_a .lx-box .box:hover .icon::after {
  top: 0;
}

.contact_a .lx-box .box:hover .icon .icon-group {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contact_a .lx-box .box:nth-child(3) .icon::after {
  display: none;
}

.serviceMap_a {
  background-color: #f8f8f8;
}

.serviceMap_b {
  background-color: #fff;
}

#map {
  height: 500px;
}

.window {
  width: 300px;
  background-color: #fff;
  padding: 15px 0;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
}

.window .top {
  color: #1e76cf;
  font-size: 16px;
}

@media (max-width: 1366px) {
  .contact_a .st {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 24px;
  }

  .contact_a .lx-box .box .text-box .tl {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .contact_a {
    padding-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .contact_a .title {
    font-size: 18px;
  }

  .contact_a .st {
    padding: 0 5%;
    width: 100%;
  }

  .contact_a .lx-box .box {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .contact_a .lx-box .box .icon {
    width: 80px;
    height: 80px;
    margin: 0;
  }

  .contact_a .lx-box .box .text-box {
    width: -webkit-calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: calc(100% - 90px);
    text-align: left;
  }

  .contact_a .lx-box .box:last-child {
    margin-bottom: 0;
  }

  #map {
    height: 300px;
  }
}