.news_a {
  padding-top: 80px;
  padding: 80px 0 0;
  background: url(../image/case_bg.jpg) no-repeat center center / cover;
}
.news_a .news-ul {
  padding-bottom: 50px;
}
.news-ul li .text-box .tl {
  margin-bottom: 0;
}
.news-ul li {
  width: 23.5%;
  padding: 10px 10px 0 10px;
  background-color: #fff;
  box-sizing: border-box;
}
.news-ul li :hover .see-img{
  opacity: 1;
}
.news-ul li .see-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  opacity: 0; 
  transition: opacity 1s;
}
.news-ul li .imgbox {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
}
.news-ul li .imgbox img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.news_b {
  padding: 5.2084% 0;
}
.news_b .wrap {
  background: #fff;
  padding: 0 0 60px;
}
.news_b .wrap .content {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
.news_b .wrap .content .title-box {
  text-align: center;
  color: #333;
  padding-top: 60px;
}
.news_b .wrap .content .title-box .title {
  font-size: 30px;
  margin-bottom: 40px;
}
.news_b .wrap .content .title-box .from-box {
  padding-bottom: 30px;
  border-bottom: 1px solid #f5f5f5;
}
.news_b .wrap .content .title-box .from-box span {
  position: relative;
  padding-right: 10px;
  font-size: 14px;
  margin-right: 10px;
}
.news_b .wrap .content .title-box .from-box span::after {
  content: "";
  width: 1px;
  height: 12px;
  background: #999;
  right: 0;
  top: 1px;
}
.news_b .wrap .content .title-box .from-box span:last-child {
  margin-right: 0;
  padding-right: 0;
}
.news_b .wrap .content .title-box .from-box span:last-child::after {
  display: none;
}
.news_b .wrap .content .from-box {
  text-align: center;
}
.news_b .wrap .content .dd {
  line-height: 28px;
  color: #333333;
  font-size: 14px;
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 30px;
}
.news_b .wrap .content .text-content {
  line-height: 28px;
  color: #555;
  margin-bottom: 50px;
  padding-top: 20px;
}
.news_b .wrap .content .text-content img {
  display: block;
  margin: 0 auto;
}
@media (max-width: 1366px) {
  .news_a {
    padding-top: 80px;
  }
  .news_b .wrap .content .title-box .title {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .news_b {
    padding: 50px 0;
  }
  .news-ul li {
    width: 100%;
  }
  .news_b .wrap .content .title-box {
    padding-top: 40px;
  }
  .news_b .wrap .content .title-box .title {
    font-size: 18px;
  }
}