.none {
    display: none !important;
}

.current-nav {
    color: #1e50ae !important;
}

.pro-sidebar {
    width: 260px;
    border-radius: 10px;
    overflow: hidden;
    border: none;
}

.pro-sidebar .pro-title {
    text-align: left;
    padding-left: 30px;
    background: #1e50ae;
    margin-bottom: 0;
}

.pro-sidebar .pro-title .big-title,
.pro-sidebar .pro-title .small-title {
    color: #fff;
}

.pro-sidebar .sub-menu {
    border: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
    border-top: none;
    padding: 15px 0;
}

.pro-sidebar .sub-menu li {
    padding: 0 20px;
}

.pro-sidebar .sub-menu li a {
    line-height: 35px;
    font-size: 14px;
    transition: all .4s;
    display: block;
}

.pro-sidebar .other-sub-menu li a {
    border-bottom: 1px dashed #ddd;
    padding: 10px 0;
}

.pro-sidebar .other-sub-menu li a img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.pro-sidebar .other-sub-menu li .time {
    margin-top: -6px;
    font-size: 14px;
    color: #666;
    padding-left: 26px;
}

.pub_imgbox img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.pro-class-box {
    padding-bottom: 60px;
}

.pro-class-box .title-box {
    text-align: center;
    padding: 60px 0 44px;
}

.pro-class-box .title-box .title {
    font-weight: Bold;
    font-size: 24px;
    color: #333333;
    margin-bottom: 24px;
}

.pro-class-box .title-box .te {
    line-height: 28px;
    color: #666666;
    width: 710px;
    margin: 0 auto;
}

.pro-class-box ul.wrap li {
    width: 31.4286%;
    float: left;
    margin: 2.855% 2.855% 0 0;
    text-align: center;
}

.pro-class-box ul.wrap li .imgbox {
    overflow: hidden;
    position: relative;
}

.pro-class-box ul.wrap li .imgbox img {
    width: 100%;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.pro-class-box ul.wrap li .imgbox::after {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid #ddd;
}

.pro-class-box ul.wrap li .te {
    line-height: 50px;
    color: #333;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.pro-class-box ul.wrap li:nth-child(3n) {
    margin-right: 0;
}

.pro-class-box ul.wrap li:nth-child(1),
.pro-class-box ul.wrap li:nth-child(2),
.pro-class-box ul.wrap li:nth-child(3) {
    margin-top: 0;
}

.pro-class-box ul.wrap li:hover .te {
    color: #fff;
    background: #1e76cf;
}

.pro-class-box:nth-child(2n) {
    background-color: #f0f0f0;
}

.imgcenter img {
    display: block;
    margin: 0 auto;
}

.pro_class {
    padding-top: 60px;
    margin-bottom: 20px;
}

.pro_class .wrap {
    position: relative;
}

.pro-content {
    width: 78%;
    float: right;
    min-height: 820px;
}

.pro-content .content-title {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 14px;
    border-bottom: 1px solid #ddd;
}

.pro-content .content-title span {
    position: relative;
    padding-left: 14px;
}

.pro-content .content-title i {
    color: #999;
    font-size: 14px;
    margin-left: 6px;
    font-weight: normal;
}

.pro-content .content-title span::before {
    position: absolute;
    display: block;
    content: '';
    width: 4px;
    height: 100%;
    background: #1f51ae;
    top: 0;
    left: 0;
}

.pro-content .pro-ul {
    margin-bottom: 50px;
}

.pro-content .pro-ul li {
    width: 100%;
    position: relative;
    border-bottom: 1px dashed #ddd;
    padding: 20px 0;
}

.pro-content .pro-ul li:hover .news-title {
    color: #1e76cf;
}

.pro-content .pro-ul li:last-child {
    border-bottom: none;
}

.pro-content .pro-ul li .news-title {
    font-size: 16px;
    color: #333;
    width: 80%;
    transition: all .4s;
}

.pro-content .pro-ul li .news-desc {
    margin: 15px 0;
    color: #666;
    font-size: 14px;
    width: 80%;
    overflow: hidden;
    /*超出部分隐藏*/
    white-space: nowrap;
    /*不换行*/
    text-overflow: ellipsis;
    /*超出部分文字以...显示*/
}

.pro-content .pro-ul li .news-time {
    position: absolute;
    right: 0;
    top: 20px;
    color: #666;
    font-size: 16px;
}

.pro-content .pro-ul li .news-bage span {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    font-size: 12px;
    color: #666;
}

.pro-content .pro-ul li .download {
    width: 100%;
}

.pro-content .pro-ul li .download .name {
    display: inline-block;
    width: 40%;
}

.pro-content .pro-ul li .download:hover {
    color: #1e76cf;
}

.pro-content .pro-ul li .download .size {
    display: inline-block;
    width: 35%;
    text-align: center;
}

.pro-content .pro-ul li .download .btn {
    display: inline-block;
    width: 24%;
    text-align: right;
}

.pro-content .pro-ul li .imgbox video {
    display: block;
    width: 100%;
}

.pro-content .pro-ul li .imgbox img {
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    width: 100%;
}

.pro-content .pro-ul li .imgbox::after {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: solid 1px #dddddd;
}

.pro-content .pro-ul li .text-box {
    background-color: #f5f5f5;
    padding: 10px 20px 10px 20px;
}

.pro-content .pro-ul li .text-box .title {
    line-height: 24px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* height: 48px; */
    /* margin-bottom: 8px; */
}

.pro-content .pro-ul li .text-box .ljxq {
    color: #999999;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.pro-content .pro-ul li:nth-child(3n) {
    margin-right: 0;
}

.pro-content .pro-ul li:nth-child(1),
.pro-content .pro-ul li:nth-child(2),
.pro-content .pro-ul li:nth-child(3) {
    margin-top: 0;
}

.pro-content .pro-ul li:hover .text-box .ljxq {
    color: #1e76cf;
}

.pro-info-box {
    padding: 54px 0 74px 0;
}

.pro-info-box .wrap {
    position: relative;
}

.pro-info-box .left {
    width: 42.8571%;
}

.pro-info-box .left .bigImgBox {
    position: relative;
    margin-bottom: 24px;
}

.pro-info-box .left .bigImgBox img {
    width: 100%;
}

.pro-info-box .left .bigImgBox video {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.pro-info-box .left .bigImgBox .bfbtn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.pro-info-box .left .bigImgBox .bfbtn .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pro-info-box .left .bigImgBox .act.bfbtn {
    opacity: 1;
    pointer-events: auto;
}

.pro-info-box .left .bigImgBox.act {}

.pro-info-box .left .bigImgBox.act .bigImg {
    display: block;
}

.pro-info-box .left .bigImgBox.act video {
    display: block;
}

.pro-info-box .left .swiper-box {
    position: relative;
    padding: 0 40px;
}

.pro-info-box .left .swiper-box .btn {
    position: absolute;
    width: 20px;
    height: 100%;
    top: 0;
    border: solid 1px #999999;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.pro-info-box .left .swiper-box .prev_proImgSwiper {
    left: 0;
    background-image: url(../image/prev_jt_03.png);
}

.pro-info-box .left .swiper-box .next_proImgSwiper {
    right: 0;
    background-image: url(../image/next_jt_03.png);
}

.pro-info-box .left .swiper-box .btn:hover {
    border-color: #1e76cf;
    background-color: #1e76cf;
}

.pro-info-box .left .swiper-box .prev_proImgSwiper:hover {
    background-image: url(../image/prev_jt_03_l.png);
}

.pro-info-box .left .swiper-box .next_proImgSwiper:hover {
    background-image: url(../image/next_jt_03_l.png);
}

.pro-info-box .left .swiper-box .swiper-slide {
    position: relative;
    cursor: pointer;
}

.pro-info-box .left .swiper-box .swiper-slide::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid #ddd;
    pointer-events: none;
}

.pro-info-box .left .swiper-box .cur::after {
    border-color: #1e76cf;
}

.pro-info-box .right {
    position: absolute;
    right: 0;
    width: 52.8571%;
    top: 0;
    bottom: 0;
}

.pro-info-box .right .proName {
    font-size: 24px;
    color: #333333;
    margin-bottom: 24px;
}

.pro-info-box .right .info {
    line-height: 24px;
    color: #999999;
    padding-bottom: 36px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 36px;
}

.pro-info-box .right .ydbox .title {
    font-size: 20px;
    color: #333333;
    line-height: 32px;
    margin-bottom: 20px;
}

.pro-info-box .right .ydbox .yd {
    padding-left: 20px;
    height: 280px;
    overflow: auto;
    line-height: 28px;
    color: #999999;
}

.pro-info-box .right .control-box {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.pro-info-box .right .control-box .btn {
    width: 27.027%;
    float: left;
    margin-right: 9.4595%;
    height: 54px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.pro-info-box .right .control-box .btn:last-child {
    margin-right: 0;
}

.pro-info-box .right .control-box .getPrice {
    line-height: 54px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.pro-info-box .right .control-box .getPrice:hover {
    color: #fff;
}

.pro-info-box .right .control-box .makePhone {
    padding-top: 10px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.pro-info-box .right .control-box .makePhone .tp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: bold;
    color: #1e76cf;
    margin-bottom: 10px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.pro-info-box .right .control-box .makePhone .tp .icon {
    margin-right: 10px;
    position: relative;
    animation: shake 1s forwards linear infinite;
}


@keyframes shake {

    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

.pro-info-box .right .control-box .makePhone .bt {
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    font-size: 12px;
    color: #333;
}

.pro-info-box .right .control-box .makePhone:hover .tp {
    color: #fff;
}

.pro-info-box .right .control-box .makePhone:hover .bt {
    color: #fff;
}

.pro-info-box .right .control-box .down {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.pro-info-box .right .control-box .down span {
    margin-right: 10px;
}

.pro-info-box .right .control-box .down .icon {
    position: relative;
}

.pro-info-box .right .control-box .btn::after {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: solid 1px #dddddd;
}

.pro-info-box .right .control-box .makePhone:hover::after {
    border-color: #1e76cf;
}

.pro-info-box .right .control-box .down:hover {
    color: #fff;
}

.pro-info-box .right .control-box .btn:hover {
    background: #1e76cf;
}

.out-box {
    height: 100px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.maodian-box {
    background-color: #f0f0f0;
    line-height: 100px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.maodian-box .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.maodian-box .wrap a {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    position: relative;
    font-size: 20px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    color: #333;
}

.maodian-box .wrap a::after {
    content: "";
    width: 1px;
    height: 24px;
    background: #ddd;
    right: 0;
    top: 38px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.maodian-box .wrap a:last-child::after {
    display: none;
}

.maodian-box .wrap a:hover {
    color: #fff;
    background: #1e76cf;
}

.maodian-box .wrap .act {
    color: #fff;
    background: #1e76cf;
}

.maodian-box .wrap .act::after,
.maodian-box .wrap a:hover::after {
    display: none;
}

.fixed {
    height: 60px;
}

.fixed .maodian-box {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    line-height: 60px;
}

.fixed .maodian-box .wrap a::after {
    top: 11px;
}

.pro-detail-box .pro-info-li {
    padding-bottom: 60px;
}

.pro-detail-box .pro-info-li .this-title {
    padding: 90px 0 65px;
    font-weight: bold;
    font-size: 24px;
    color: #333333;
    text-align: center;
}

.pro-detail-box .pro-info-li .t-box {
    margin-bottom: 60px;
}

.pro-detail-box .pro-info-li .t-box .tl {
    font-size: 20px;
    color: #333333;
    margin-bottom: 60px;
}

.pro-detail-box .pro-info-li .t-box .tc {
    text-align: center;
}

.pro-detail-box .pro-info-li .t-box .yltl {
    margin-bottom: 20px;
}

.pro-detail-box .pro-info-li .t-box .td-ul li {
    width: 31.8571%;
    float: left;
    height: 305px;
    margin: 2.21435% 2.21435% 0 0;
    text-align: center;
    padding-top: 44px;
    background-color: #f5f5f5;
    position: relative;
}

.pro-detail-box .pro-info-li .t-box .td-ul li .icon {
    width: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #1e76cf;
    margin: 0 auto 20px;
}

.pro-detail-box .pro-info-li .t-box .td-ul li .icon img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.pro-detail-box .pro-info-li .t-box .td-ul li .title {
    font-size: 20px;
    margin-bottom: 18px;
}

.pro-detail-box .pro-info-li .t-box .td-ul li .text {
    padding: 0 20px;
    color: #999999;
    line-height: 28px;
}

.pro-detail-box .pro-info-li .t-box .td-ul li::after {
    content: "";
    width: 0;
    height: 4px;
    background: #1e76cf;
    left: 0;
    top: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.pro-detail-box .pro-info-li .t-box .td-ul li:nth-child(3n) {
    margin-right: 0;
}

.pro-detail-box .pro-info-li .t-box .td-ul li:nth-child(1),
.pro-detail-box .pro-info-li .t-box .td-ul li:nth-child(2),
.pro-detail-box .pro-info-li .t-box .td-ul li:nth-child(3) {
    margin-top: 0;
}

.pro-detail-box .pro-info-li .t-box .td-ul li:hover::after {
    width: 100%;
}

.pro-detail-box .pro-info-li .t-box .info-text {
    color: #999999;
    line-height: 28px;
}

.pro-detail-box .pro-info-li .t-box:last-child {
    margin-bottom: 0;
}

.pro-detail-box .pro-info-li .pro-info-table {
    margin-bottom: 45px;
    width: 100%;
    border-collapse: collapse;
}

.pro-detail-box .pro-info-li .pro-info-table thead {
    background: #1e76cf;
    line-height: 60px;
    color: #ffffff;
}

.pro-detail-box .pro-info-li .pro-info-table thead tr {
    background: #1e76cf !important;
}

.pro-detail-box .pro-info-li .pro-info-table th {
    border-right: 1px solid #ddd;
    font-weight: normal;
}

.pro-detail-box .pro-info-li .pro-info-table th:last-child {
    border-right: none;
}

.pro-detail-box .pro-info-li .pro-info-table td {
    text-align: center;
    border: 1px solid #ddd;
    line-height: 48px;
    color: #666;
}

.pro-detail-box .pro-info-li .pro-info-table td:last-child {
    border-right: none;
}

.pro-detail-box .pro-info-li .pro-info-table td:first-child {
    border-left: none;
}

.pro-detail-box .pro-info-li .pro-info-table tr:nth-child(2n) {
    background: #F5F5F5;
}

.pro-detail-box .pro-info-li .pro-info-table tr:nth-child(2n+1) {
    background: #fff;
}

.pro-detail-box .pro-info-li .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.pro-detail-box .pro-info-li .swiper-pagination .swiper-pagination-bullet-active {
    background: #1e76cf;
}

.pro-detail-box .pro-info-li .case-ul {
    color: #000;
    padding-bottom: 80px;
}

.pro-detail-box .pro-info-li .case-ul .swiper-slide {
    color: #000;
}

.pro-detail-box .pro-info-li .case-ul .swiper-slide .imgbox {
    overflow: hidden;
}

.pro-detail-box .pro-info-li .case-ul .swiper-slide .imgbox img {
    width: 100%;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.pro-detail-box .pro-info-li .case-ul .swiper-slide .tl {
    line-height: 70px;
    font-size: 18px;
    color: #333333;
    padding: 0 10px;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: #f5f5f5;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.pro-detail-box .pro-info-li .case-ul .swiper-slide:hover .imgbox img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.pro-detail-box .pro-info-li .case-ul .swiper-slide:hover .tl {
    color: #1e76cf;
}

.pro-detail-box .pro-info-li .news-ul {
    padding-bottom: 80px;
}

.pro-detail-box .pro-info-li .service-ul {
    padding: 0 50px;
}

.pro-detail-box .pro-info-li .service-ul li {
    float: left;
    width: 50%;
}

.pro-detail-box .pro-info-li .service-ul li .icon {
    margin-right: 14px;
    float: left;
}

.pro-detail-box .pro-info-li .service-ul li .text-box {
    width: -webkit-calc(100% - 58px);
    width: -moz-calc(100% - 58px);
    width: calc(100% - 58px);
    float: left;
}

.pro-detail-box .pro-info-li .service-ul li .text-box .tl {
    color: #333333;
    margin-bottom: 10px;
    font-size: 16px;
}

.pro-detail-box .pro-info-li .service-ul li .text-box .te {
    line-height: 26px;
    font-size: 14px;
    height: 52px;
}

.pro-detail-box .pro-info-li .service-ul li:nth-child(1),
.pro-detail-box .pro-info-li .service-ul li:nth-child(2) {
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
}

.pro-detail-box .pro-info-li .service-ul li:nth-child(3),
.pro-detail-box .pro-info-li .service-ul li:nth-child(4) {
    padding-top: 50px;
}

.pro-detail-box .pro-info-li .service-ul li:nth-child(2n+1) {
    border-right: 1px solid #f6f6f6;
}

.pro-detail-box .pro-info-li .service-ul li:nth-child(2n) {
    padding-left: 50px;
}

.pro-detail-box .pro-info-li #service {
    padding-bottom: 80px;
}

.pro-detail-box .pro-info-li #service .swiper-slide .imgbox {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.pro-detail-box .pro-info-li #service .swiper-slide .imgbox img {
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    width: 100%;
}

.pro-detail-box .pro-info-li #service .swiper-slide .imgbox::after {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid #ddd;
}

.pro-detail-box .pro-info-li #service .swiper-slide .text-box {
    text-align: center;
    color: #333333;
    font-size: 16px;
}

.pro-detail-box .pro-info-li #service .swiper-slide:hover .imgbox img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.pro-detail-box .pro-info-li:nth-child(2n) {
    background-color: #f0f0f0;
}

@media (max-width: 1366px) {
    .pro-info-box .right .control-box .btn {
        width: 30%;
        margin-right: 5%;
    }

    .maodian-box .wrap a {
        font-size: 16px;
    }

    .pro-detail-box .pro-info-li .this-title {
        padding: 60px 0 50px;
    }

    .pro-detail-box .pro-info-li .t-box {
        margin-bottom: 50px;
    }

    .pro-detail-box .pro-info-li .t-box .tl {
        margin-bottom: 40px;
    }

    .pro-detail-box .pro-info-li .t-box .td-ul li {
        padding-top: 35px;
        height: 290px;
    }

    .pro-detail-box .pro-info-li .t-box .td-ul li .icon {
        width: 80px;
    }

    .pro-detail-box .pro-info-li .t-box .td-ul li .title {
        font-size: 16px;
    }

    .pro-detail-box .pro-info-li .t-box .td-ul li .text {
        line-height: 24px;
    }

    .pro-detail-box .pro-info-li .case-ul li .tl,
    .pro-detail-box .pro-info-li .case-ul .swiper-slide .tl {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .pro-content {
        width: 100%;
    }

    .pro-info-box {
        padding-bottom: 50px;
    }

    .pro-info-box .right .proName {
        margin-bottom: 15px;
        font-size: 18px;
    }

    .pro-info-box .right .info {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .pro-info-box .right .ydbox .title {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .pro-info-box .right .ydbox .yd {
        height: 180px;
    }

    .maodian-box {
        line-height: 80px;
    }

    .maodian-box .wrap a::after {
        top: 28px;
    }

    .pro-detail-box .pro-info-li .this-title {
        font-size: 18px;
        padding: 50px 0 30px;
    }

    .pro-detail-box .pro-info-li .t-box .tl {
        font-size: 16px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .pro-content .pro-ul li .download {
        display: flex;
        justify-content: space-between;
    }

    .pro_class {
        padding-top: 80px;
    }

    .pro-class-box {
        padding-bottom: 50px;
    }

    .pro-class-box .title-box {
        padding: 50px 0 40px;
    }

    .pro-class-box .title-box .title {
        font-size: 18px;
    }

    .pro-class-box .title-box .te {
        width: 100%;
        padding: 0 5%;
    }

    .pro-class-box ul.wrap li {
        width: 47.5%;
        margin: 0 5% 5% 0;
    }

    .pro-class-box ul.wrap li .imgbox {
        margin-bottom: 15px;
    }

    .pro-class-box ul.wrap li:nth-child(3n) {
        margin-right: 5%;
    }

    .pro-class-box ul.wrap li:nth-child(2n) {
        margin-right: 0;
    }

    .pro-content {
        min-height: auto;
    }

    .pro-content .pro-ul li {
        width: 100%;
        margin: 0 5% 5% 0;
    }

    .pro-content .pro-ul li .text-box {
        padding: 8px 10px 10px 10px;
    }

    .pro-content .pro-ul li:nth-child(3n) {
        margin-right: 5%;
    }

    .pro-content .pro-ul li:nth-child(2n) {
        margin-right: 0;
    }

    .pro-info-box .left,
    .pro-info-box .right {
        width: 100%;
        float: none;
    }

    .pro-info-box .left {
        margin-bottom: 30px;
    }

    .pro-info-box .left .bigImgBox {
        display: none;
    }

    .pro-info-box .left .swiper-box {
        padding: 0;
    }

    .pro-info-box .left .swiper-box .btn {
        display: none;
    }

    .pro-info-box .right {
        position: static;
    }

    .pro-info-box .right .proName {
        margin-bottom: 12px;
    }

    .pro-info-box .right .ydbox {
        margin-bottom: 30px;
    }

    .pro-info-box .right .ydbox .yd {
        height: auto;
    }

    .pro-info-box .right .control-box {
        position: static;
    }

    .pro-info-box .right .control-box .btn {
        width: 32%;
        margin-right: 0.5%;
    }

    .pro-info-box .right .control-box .makePhone {
        width: 35%;
    }

    .pro-info-box .right .control-box .makePhone .tp .icon {
        width: 12px;
        margin-right: 2px;
    }

    .pro-detail-box .pro-info-li {
        padding-bottom: 50px;
    }

    .pro-detail-box .pro-info-li .table-box {
        overflow: auto;
        margin-bottom: 40px;
    }

    .pro-detail-box .pro-info-li .table-box table {
        margin-bottom: 0;
    }

    .pro-detail-box .pro-info-li .t-box .td-ul li {
        width: 100%;
        margin-right: 0;
        margin-top: 5%;
    }

    .pro-detail-box .pro-info-li .t-box .td-ul li:nth-child(2),
    .pro-detail-box .pro-info-li .t-box .td-ul li:nth-child(3) {
        margin-top: 5%;
    }

    .pro-detail-box .pro-info-li .pro-info-table {
        width: 1300px;
    }

    .pro-detail-box .pro-info-li .case-ul li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5%;
    }

    .pro-detail-box .pro-info-li .case-ul li .tl {
        font-size: 14px;
        line-height: 50px;
    }

    .pro-detail-box .pro-info-li .case-ul li:last-child {
        margin-bottom: 0;
    }

    .pro-detail-box .pro-info-li .case-ul .swiper-slide .tl {
        font-size: 14px;
        line-height: 50px;
    }

    .pro-detail-box .pro-info-li .service-ul {
        padding: 0;
    }

    .pro-detail-box .pro-info-li .service-ul li {
        width: 100%;
        float: none;
        padding: 0 0 10px 0 !important;
        margin-bottom: 14px;
        border-bottom: 1px solid #ddd;
    }

    .pro-detail-box .pro-info-li .service-ul li .text-box .te {
        height: auto;
    }

    .pro-detail-box .pro-info-li .service-ul li:last-child {
        margin-bottom: 0;
    }

    .pro-detail-box .pro-info-li #service {
        padding-bottom: 50px;
    }
}